<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CW1 - group work</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>After School Club</h1>
      <div v-for="item in subjects" class="cont">
        <img id="img" v-bind:src="item.imgSRC" v-bind:alt="item.imgALT" />
        <div class="right">
          <h3>{{item.name}}</h3>
          <p>{{item.location}}</p>
          <p>Price: {{item.price}}</p>
          <p v-if="item.spaces <= 5">Only {{item.spaces}} spaces!</p>
          <p v-else=>Spaces: {{item.spaces}}</p>
          <input
            class="basketbt"
            type="button"
            id="addToBasket"
            value="Add to Basket"
            v-on:click="toBasket(item)"
          />
        </div>
      </div>

      <p>{{order.count}}</p>
      <p>{{order.subjecs}}</p>
    </div>
    <script src="subjects.js"></script>
    <script>
      let app = new Vue({
        // the root Vue instance
        el: "#app", // this links to the <div> with the ID #app
        data: {
          subjects: allSubjects,
     
          order: {
            count: 0,
            subjecs: [],
          },
        }, // this is the 'data' option, its value is a JSON object
        methods: {
          toBasket: function (subjec) {
            //check if there are free spaces left
            if (subjec.spaces > 0) {
              subjec.spaces -= 1;
              this.order.subjecs.push(subjec.id) ;
              this.order.count += 1;
            } else {
              subjec.spaces = "No spaces";
            }
          },
          subjecsCount(id) {
         let count = 0;
           for(let i = 0; i < this.order.subjecs.length; i++) {
             if (this.order.subjecs[i] === id) {
               count++;
              } 
           }
          return count;
         }
        },
      });
    </script>
  </body>
</html>
